<%- partial('_partial/head') %>
<body>
    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

  <div id="container">
    <div class="left-col1">
    <%- partial('_partial/left-col-vno', null) %>
    </div>
    <div class="mid-col">
      <!--<%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>-->

      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/post/lean-analytics') %>

  </div>
</body>
</html>